.game_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
  gap: 10%;
  
}

.select_container {
  display: flex;
  justify-content: start;
  margin-bottom: 5%;
  gap: 5%;
}

.game_container {
  display: flex;
  justify-content: start;
  margin-left: 1%;
  gap: 7%;
}